.img_old{

	margin-left: 10px;
	width: 100px;
}

.publish-qa-img-submit{
	margin-left: 100px;
}

.publish-qa-name-input{
	width: 150px;
}
.publish-qa-password-input{
	width: 150px;
}
.sex_select1{
	margin-top: 7px;
	margin-left: 10px;
}
.sex_select2{
	margin-top: 10px;
}

.publish-qa-location-input{
	width: 150px;
}
.publish-qa-study-input{
	width: 150px;
}
.publish-qa-email-input{
	width: 150px;
}