<nav class="navbar navbar-default navbar-static-top" role="navigation" >
    <div class="container" >
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="wojiushitop">
            	<a class="navbar-brand head-title"  href="http://localhost/index.php/home/index/index">FlyTiny QA</a>
                <li class="col-lg-6 search-text" >
                    <form role="form" action="/index.php/home/search/index" method="post">
    				    <div class="input-group">
      					 <input type="text" class="form-control" name="search_content"  id="search_content">
     						 <span class="input-group-btn">
       							 <button class="btn btn-default" type="submit">搜索</button>
      						</span>
    				    </div>
                    </form>
  				</li>

                <?php
                if(isset($_SESSION['username']) && $_SESSION['username']!=''){
                    $src="__PUBLIC__".$_SESSION['picture'];
                echo '<li><img src="'.$src.'" alt="..." class="img-rounded" style="height:40px; margin-top: 5px; margin-left:10px; margin-right:10px;"></li>

                <li><a href="/index.php/home/user/index?id=';    echo $_SESSION['id'];
                    echo '" class="answer-author" ><strong >'.$_SESSION['username'].'</strong></a></li>
                <li><a href="#" class="answer-author" onclick="cancel()" >注销</a></li>';
            }
            else{
                echo '<li class="navbar-right"><a href="#Register_Modal"  data-toggle="modal" onclick="click_register()" id="click_register"  name="click_register">Register</a></li>
                <li class="navbar-right"><a href="#Login_Modal" data-toggle="modal" onclick="click_login()" id="click_login" name="click_login">Log In</a></li>';
            }
                ?>
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right">
 -->                
            <!-- </ul> -->
        </div>
    </div>
</nav>

<!--这个div是注册的div模态框-->
<div class="modal fade" id="Register_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="Register_Modal_Title">注册账号<small>(注册成功之后会直接登录)</small></h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="username">用户名</label>
                        <input type="text" class="form-control" id="register_user_name" placeholder="username" style="width:50%">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">账号</label>
                        <input type="email" class="form-control" id="register_user_id" placeholder="id"  data-placement="bottom" data-content="Vivamus" style="width:50%">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">密码</label>
                        <input type="password" class="form-control" id="register_password" placeholder="password" style="width:50%">
                    </div>
                    <p id="register_error1" name="register_error1" style="color: #F4115F;">用户民已存在~~~~~~~~ </p>
                    <p id="register_error2" name="register_error2" style="color: #F4115F;">账号已存在~~~~~~</p>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="register()">注册</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Login_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">登陆</h4>
            </div>
            <div class="modal-body">
            	<form role="form" action="" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">账号</label>
                        <input type="email" class="form-control" id="login_user_id" name="userid" placeholder="id" onfocus="popover" data-placement="bottom" data-content="Vivamus" style="width:50%">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="login_password" name="password" placeholder="password" style="width:50%;">
                       
                    </div>
                     <p id="login_error" name="login_error" style="color: #F4115F;">密码错误诶</p>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="login_button" onclick="login()">登陆</button>
                </form>
            </div>
        </div>
    </div>
</div>
