    <div class="QA-right">
        <div class="QA-right-section">
            <li class="QA-right-question">
            <?php
                echo '<a class="QA-right-question-text" href="/index.php/home/user/index/id/'.$_SESSION['id'].'">';

                ?>
                    <span class="glyphicon glyphicon-question-sign QA-right-question-img"></span>
                    我的问题
                </a>
            </li>
            <li class="QA-right-fav">
                <?php
                echo '<a class="QA-right-question-text" href="/index.php/home/user/index/id/'.$_SESSION['id'].'">';

                ?>
                    <span class="glyphicon glyphicon-ok-sign QA-right-fav-img"></span>
                    我的收藏
                </a>
            </li>
           <!--  <canvas id="c"></canvas>
            <div id="top">
                <a id="close" href=""></a>
            </div> -->
        </div>
    </div>


    <div id="toolBackTo" class="back-to" widthlog="" style="left: 1151.5px;">
<a href="#wojiushitop" style="display: block;"></a> 
</div>